--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: agregar_producto_pedido(integer, integer, integer); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.agregar_producto_pedido(IN p_pedido_id integer, IN p_producto_id integer, IN p_cantidad integer)
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_precio NUMERIC(10,2);
    v_subtotal NUMERIC(10,2);
BEGIN
    SELECT price INTO v_precio FROM productos WHERE id = p_producto_id;

    v_subtotal := v_precio * p_cantidad;

    INSERT INTO detalles_pedido(pedido_id, producto_id, cantidad, subtotal)
    VALUES (p_pedido_id, p_producto_id, p_cantidad, v_subtotal);

    UPDATE pedidos
    SET total = total + v_subtotal
    WHERE id = p_pedido_id;
END;
$$;


ALTER PROCEDURE public.agregar_producto_pedido(IN p_pedido_id integer, IN p_producto_id integer, IN p_cantidad integer) OWNER TO postgres;

--
-- Name: confirmar_pedido(integer); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.confirmar_pedido(IN p_pedido_id integer)
    LANGUAGE plpgsql
    AS $$
DECLARE
    r RECORD;
    v_stock INT;
BEGIN
    FOR r IN SELECT producto_id, cantidad FROM detalles_pedido WHERE pedido_id = p_pedido_id
    LOOP
        SELECT stock INTO v_stock FROM productos WHERE id = r.producto_id;

        IF v_stock < r.cantidad THEN
            RAISE EXCEPTION 'Stock insuficiente para producto % (disponible %, solicitado %)', 
                r.producto_id, v_stock, r.cantidad;
        END IF;

        UPDATE productos
        SET stock = stock - r.cantidad
        WHERE id = r.producto_id;
    END LOOP;

    UPDATE pedidos
    SET status = 'confirmed'
    WHERE id = p_pedido_id;
END;
$$;


ALTER PROCEDURE public.confirmar_pedido(IN p_pedido_id integer) OWNER TO postgres;

--
-- Name: crear_pedido(integer); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.crear_pedido(IN p_cliente_id integer)
    LANGUAGE plpgsql
    AS $$
BEGIN
    INSERT INTO pedidos(cliente_id, total, status)
    VALUES (p_cliente_id, 0, 'pending');
END;
$$;


ALTER PROCEDURE public.crear_pedido(IN p_cliente_id integer) OWNER TO postgres;

--
-- Name: quitar_producto_pedido(integer, integer); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.quitar_producto_pedido(IN p_pedido_id integer, IN p_producto_id integer)
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_subtotal NUMERIC(10,2);
BEGIN
    SELECT subtotal INTO v_subtotal
    FROM detalles_pedido
    WHERE pedido_id = p_pedido_id AND producto_id = p_producto_id;

    DELETE FROM detalles_pedido
    WHERE pedido_id = p_pedido_id AND producto_id = p_producto_id;

    UPDATE pedidos
    SET total = total - v_subtotal
    WHERE id = p_pedido_id;
END;
$$;


ALTER PROCEDURE public.quitar_producto_pedido(IN p_pedido_id integer, IN p_producto_id integer) OWNER TO postgres;

--
-- Name: total_sales(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.total_sales() RETURNS numeric
    LANGUAGE sql
    AS $$
    SELECT COALESCE(SUM(total),0) FROM pedidos WHERE status = 'confirmed';
$$;


ALTER FUNCTION public.total_sales() OWNER TO postgres;

--
-- Name: update_stock(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_stock() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF (SELECT status FROM pedidos WHERE id = NEW.pedido_id) = 'confirmed' THEN
        UPDATE productos
        SET stock = stock - NEW.cantidad
        WHERE id = NEW.producto_id;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_stock() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: clientes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientes (
    id integer NOT NULL,
    usuario_id integer,
    address text,
    phone character varying(20)
);


ALTER TABLE public.clientes OWNER TO postgres;

--
-- Name: clientes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.clientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.clientes_id_seq OWNER TO postgres;

--
-- Name: clientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.clientes_id_seq OWNED BY public.clientes.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password text NOT NULL,
    role character varying(20),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT usuarios_role_check CHECK (((role)::text = ANY ((ARRAY['admin'::character varying, 'empleado'::character varying, 'cliente'::character varying])::text[])))
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Name: clientes_info; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.clientes_info AS
 SELECT u.id AS usuario_id,
    u.name,
    u.email,
    u.role,
    c.id AS cliente_id,
    c.address,
    c.phone
   FROM (public.usuarios u
     JOIN public.clientes c ON ((u.id = c.usuario_id)));


ALTER VIEW public.clientes_info OWNER TO postgres;

--
-- Name: detalles_pedido; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.detalles_pedido (
    id integer NOT NULL,
    pedido_id integer,
    producto_id integer,
    cantidad integer NOT NULL,
    subtotal numeric(10,2) NOT NULL
);


ALTER TABLE public.detalles_pedido OWNER TO postgres;

--
-- Name: detalles_pedido_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.detalles_pedido_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.detalles_pedido_id_seq OWNER TO postgres;

--
-- Name: detalles_pedido_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.detalles_pedido_id_seq OWNED BY public.detalles_pedido.id;


--
-- Name: devoluciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.devoluciones (
    id integer NOT NULL,
    pedido_id integer,
    reason text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.devoluciones OWNER TO postgres;

--
-- Name: devoluciones_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.devoluciones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.devoluciones_id_seq OWNER TO postgres;

--
-- Name: devoluciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.devoluciones_id_seq OWNED BY public.devoluciones.id;


--
-- Name: pedidos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pedidos (
    id integer NOT NULL,
    cliente_id integer,
    total numeric(10,2) DEFAULT 0,
    status character varying(20) DEFAULT 'pending'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.pedidos OWNER TO postgres;

--
-- Name: pedidos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pedidos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pedidos_id_seq OWNER TO postgres;

--
-- Name: pedidos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pedidos_id_seq OWNED BY public.pedidos.id;


--
-- Name: productos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.productos (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    price numeric(10,2) NOT NULL,
    stock integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.productos OWNER TO postgres;

--
-- Name: pedidos_info; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.pedidos_info AS
 SELECT p.id AS pedido_id,
    p.status,
    p.total,
    p.created_at,
    u.name AS client_name,
    u.email,
    pr.name AS product,
    d.cantidad,
    d.subtotal
   FROM ((((public.pedidos p
     JOIN public.clientes c ON ((p.cliente_id = c.id)))
     JOIN public.usuarios u ON ((c.usuario_id = u.id)))
     JOIN public.detalles_pedido d ON ((p.id = d.pedido_id)))
     JOIN public.productos pr ON ((d.producto_id = pr.id)));


ALTER VIEW public.pedidos_info OWNER TO postgres;

--
-- Name: productos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.productos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.productos_id_seq OWNER TO postgres;

--
-- Name: productos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.productos_id_seq OWNED BY public.productos.id;


--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_seq OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: clientes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes ALTER COLUMN id SET DEFAULT nextval('public.clientes_id_seq'::regclass);


--
-- Name: detalles_pedido id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalles_pedido ALTER COLUMN id SET DEFAULT nextval('public.detalles_pedido_id_seq'::regclass);


--
-- Name: devoluciones id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devoluciones ALTER COLUMN id SET DEFAULT nextval('public.devoluciones_id_seq'::regclass);


--
-- Name: pedidos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos ALTER COLUMN id SET DEFAULT nextval('public.pedidos_id_seq'::regclass);


--
-- Name: productos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos ALTER COLUMN id SET DEFAULT nextval('public.productos_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: clientes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clientes (id, usuario_id, address, phone) FROM stdin;
1	1	Carrera 15 #10-20	3104567890
2	2	Av Siempre Viva 742	3209876543
3	3	Calle 45 #32-12	3015554444
4	4	Transversal 23 #45-89	3152223333
5	5	calle falsa 333	-12432425
6	6	calle 3436	2352354346
7	7	dbgcbngf	1342352346
\.


--
-- Data for Name: detalles_pedido; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.detalles_pedido (id, pedido_id, producto_id, cantidad, subtotal) FROM stdin;
1	2	2	1	1200000.00
2	3	3	2	500000.00
3	3	4	1	150000.00
4	4	2	1	1200000.00
5	4	1	2	9000000.00
\.


--
-- Data for Name: devoluciones; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.devoluciones (id, pedido_id, reason, created_at) FROM stdin;
\.


--
-- Data for Name: pedidos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pedidos (id, cliente_id, total, status, created_at) FROM stdin;
2	5	1200000.00	confirmed	2025-09-09 11:12:57.439
3	7	650000.00	confirmed	2025-09-09 11:19:20.52
4	5	10200000.00	confirmed	2025-09-09 13:41:44.567
\.


--
-- Data for Name: productos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.productos (id, name, description, price, stock) FROM stdin;
3	Auriculares	Auriculares Bluetooth	250000.00	48
4	Teclado Mec├ínico	Teclado retroiluminado	150000.00	29
2	Smartphone	Celular Android gama alta	1200000.00	18
1	Laptop Gamer	Laptop potente para juegos	4500000.00	8
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuarios (id, name, email, password, role, created_at) FROM stdin;
1	Laura	laura@example.com	abcd	cliente	2025-09-09 05:55:01.996208
2	Carlos	carlos@example.com	abcd	cliente	2025-09-09 05:55:01.996208
3	Diana	diana@example.com	abcd	cliente	2025-09-09 05:55:01.996208
4	Andr├®s	andres@example.com	abcd	cliente	2025-09-09 05:55:01.996208
5	melany	melany@gmail.com	123456	cliente	2025-09-09 11:11:54.618
6	julian	julian@gmail.com	123456	cliente	2025-09-09 11:17:09.393
7	lenny	lenny@gmail.com	123456	cliente	2025-09-09 11:18:54.877
\.


--
-- Name: clientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clientes_id_seq', 7, true);


--
-- Name: detalles_pedido_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.detalles_pedido_id_seq', 5, true);


--
-- Name: devoluciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.devoluciones_id_seq', 1, false);


--
-- Name: pedidos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pedidos_id_seq', 4, true);


--
-- Name: productos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.productos_id_seq', 4, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 7, true);


--
-- Name: clientes clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_pkey PRIMARY KEY (id);


--
-- Name: detalles_pedido detalles_pedido_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalles_pedido
    ADD CONSTRAINT detalles_pedido_pkey PRIMARY KEY (id);


--
-- Name: devoluciones devoluciones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devoluciones
    ADD CONSTRAINT devoluciones_pkey PRIMARY KEY (id);


--
-- Name: pedidos pedidos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT pedidos_pkey PRIMARY KEY (id);


--
-- Name: productos productos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: detalles_pedido tg_update_stock; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER tg_update_stock AFTER INSERT ON public.detalles_pedido FOR EACH ROW EXECUTE FUNCTION public.update_stock();


--
-- Name: clientes clientes_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: detalles_pedido detalles_pedido_pedido_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalles_pedido
    ADD CONSTRAINT detalles_pedido_pedido_id_fkey FOREIGN KEY (pedido_id) REFERENCES public.pedidos(id) ON DELETE CASCADE;


--
-- Name: detalles_pedido detalles_pedido_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalles_pedido
    ADD CONSTRAINT detalles_pedido_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id);


--
-- Name: devoluciones devoluciones_pedido_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devoluciones
    ADD CONSTRAINT devoluciones_pedido_id_fkey FOREIGN KEY (pedido_id) REFERENCES public.pedidos(id);


--
-- Name: pedidos pedidos_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT pedidos_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id) ON DELETE CASCADE;


--
-- Name: TABLE clientes; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,DELETE,UPDATE ON TABLE public.clientes TO empleado;
GRANT SELECT ON TABLE public.clientes TO cliente;


--
-- Name: TABLE usuarios; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,DELETE,UPDATE ON TABLE public.usuarios TO empleado;
GRANT SELECT ON TABLE public.usuarios TO cliente;


--
-- Name: TABLE clientes_info; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,DELETE,UPDATE ON TABLE public.clientes_info TO empleado;
GRANT SELECT ON TABLE public.clientes_info TO cliente;


--
-- Name: TABLE detalles_pedido; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,DELETE,UPDATE ON TABLE public.detalles_pedido TO empleado;
GRANT SELECT ON TABLE public.detalles_pedido TO cliente;


--
-- Name: TABLE devoluciones; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,DELETE,UPDATE ON TABLE public.devoluciones TO empleado;
GRANT SELECT ON TABLE public.devoluciones TO cliente;


--
-- Name: TABLE pedidos; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,DELETE,UPDATE ON TABLE public.pedidos TO empleado;
GRANT SELECT ON TABLE public.pedidos TO cliente;


--
-- Name: TABLE productos; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,DELETE,UPDATE ON TABLE public.productos TO empleado;
GRANT SELECT ON TABLE public.productos TO cliente;


--
-- Name: TABLE pedidos_info; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,DELETE,UPDATE ON TABLE public.pedidos_info TO empleado;
GRANT SELECT ON TABLE public.pedidos_info TO cliente;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT SELECT,DELETE,UPDATE ON TABLES TO empleado;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT SELECT ON TABLES TO cliente;


--
-- PostgreSQL database dump complete
--

